* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #233d4d;
  font-weight: 600;
  font-size: 2.5rem;
  opacity: 0.8;
}
h2,
p {
  color: #233d4d;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #233d4d;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #F2C078, #F48668);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 20vh;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.link img {
  width: 50px;
  height: 50px;
}

.link a {
  text-decoration: none;
  display: flex;
  text-align: center;
}

.link h2 {
  padding: 5px;
}

.materias {
  flex: 2;
}

.card img {
  border-radius: 30%;
  width: 20%;
  margin-right: 20px;
}

/* MATERIAS */
.status {
  margin-bottom: 1rem;
}

.materias {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card img {
  justify-content: center;
  width: 100px;
  height: fit-content;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
